
<!DOCTYPE html>
<html>
  <head>
    <title>Sign-up page</title>
    <style>
    .formm{
      display: flex;
      justify-content: center;
      background-color: #c66c6c;
      margin-left: 500px;
      margin-right: 500px;

    }
   h2{
    text-align: center;
   }
      
    </style>
  </head>
  <body>
    <h2>Sign-up form</h2>
    <div class="formm">
    <form >
      First Name: <br><input type="text" name="fname" id="fn" ><br><br>
      Last Name: <br> <input type="text" name="lname" id="ln" ><br><br>
      Email ID:   <br><input type="text" name="email" id="em" ><br><br>
      Password: <br>  <input type="password" name="pass" id="ps" ><br><br>
      <button type="submit" value="Submit"  (click)="submit()">submit</button>
    </form>
    </div>
  </body>
</html>